* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Times, serif,Tahoma, Geneva, Verdana, sans-serif;
 }

 body {
        background-color: #bbd5d8;
 }


#main-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 2px;
}

.cats {
    padding: 1px;
    margin-bottom: 5px;
    text-align: center;

    p {
        padding: 15px;
        font-size: 20px;
    }
}

.header {
        background-color: #494343;
        box-shadow: 7 2px 15px rgba(255, 234, 149, 0.232);
        position: sticky;
        top: 0;
        z-index: 100;
}

.header-container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 20px;
}

.header-content {
        display: flex;
        flex-direction:column;
        justify-content: space-between;
        align-items: flex-start;
        margin: 0 10px;
        padding: 20px 0;
}

.brand {
        display: flex;
        align-items: center;
}

.brand-title {
        font-size: 28px;
        font-weight: 700;
        color: #fff2c5;
        letter-spacing: -0.5px;
        margin:3px;
        line-height:2;
}


        .nav-menu {
            display: flex;
            list-style: none;
        }

        .nav-item {
            margin-left: 30px;
            position: relative;
        }

        .nav-link {
            text-decoration: none;
            color: #f4c3c3;
            font-weight: 600;
            font-size: 16px;
            padding: 8px 0;
            transition: color 0.3s ease;
            position: relative;
        }

        .nav-link:hover {
            color: #ff75aa;
        }

        .nav-link::after {
            content: '';
            position: absolute;
            width: 0;
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: #ff75aa;
            transition: width 0.3s ease;
        }
